@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400');
*{
    margin: 0;
    padding: 0;
    
}
table{
    font-size: 14px;
    max-width: 80%;
    text-align: center;
    table-layout: fixed;
    display: table;
}

td{
    min-width: 20px;
    display: table-cell;
}

a{
    text-decoration: none;
}
li{
    text-decoration: none;
    list-style: none;
}
.author{
    font-weight: 400;
}

.comment{
    width: 800px;
    border-radius: 5px;
    opacity: 0.9;
    background-color: white;
    display: block;
    margin: auto;
    margin-top: 4px;
    font-weight: 300;
}

body{
    background-image:url('../img/background.jpg');
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    
}

footer{
    text-align: right;
    margin: 0 20px 0 0;
    font-weight: 200;
    width: 100%;
    opacity: 0.7;
    background-color:white;
    position: absolute; bottom: 0;
}

nav{
    border: 1px solid white;
    border-radius: 5px;
    background-color:azure;
    opacity: 0.8;
    display:block;
    margin: auto;
    padding: 1px;
    width: 800px;
    height: 45px;

}

.content{
    width: 800px;
    min-height: 190px;
    border-radius: 5px;
    opacity: 0.9;
    background-color: white;
    display: block;
    margin: auto;
    margin-top: 20px;
    font-weight: 300;
    padding: 5px;
}
.topnav{
    font-size: 14px;
    margin-top: 10px;
}

.topnav a{
    color: black;
    text-align: center;
    padding: 10px 16px;
    font-size: 15px;
}

.topnav a:hover{
    border-bottom: 2px solid black;
}

.content .inputform{
    margin: 10px 10px 0px 10px;
}
.submitbtn{
    border-radius: 5px;
    background-color: #f6fdff;
    font-weight: bolder;
    margin: 0px 10px 10px 10px;
    padding: 2px 2px 2px 2px;
}

.content .avatar{
    width: 140px;
    opacity: 1;
    padding: 10px 10px 10px 10px ;
    float: left;
}
.content h3{
    padding: 5px 10px 10px 10px;
    font-size: 15px;
}
.comment{
    margin-right: 5px;
}

.content textarea{
    width: 94%;
    resize: none;
    display: block;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 5px 10px;
}


@media screen and (max-width: 768px){

    nav{
        width: 100%;
        height: 45px;
    }
    
    .content{
          width: 100%;
    }
    

    
}
